html {
  padding: 20px;
}

#ticketTable, .ticketCells {
  border: 1px solid;
}

.ticketCells {
  text-align: center;
}

#ticketDisplay {
  margin-top: 10px;
}

#priceselect {
  margin-top: 10px;
  margin-bottom: 10px;
}

#paidselect {
  margin-top: 10px;
  margin-bottom: 10px;
}

#submitbtn {
  background-image: none;
  background-color: pink;
  color: black;
}

#yespaid:checked + label{
  background-color: green;
}

#nopaid:checked + label {
  background-color: red;
}

#customprice {
  display: none;
}